.destination {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  background-size: cover; /* Gör att bilden täcker hela elementet */
  background-position: center; /* Centrera bilden i elementet */
  background-repeat: no-repeat; /* Förhindra att bilden upprepas */
  height: 100vh; /* Sätt höjden på elementet (t.ex. 100% av vyhöjden) */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 0 64px;
}

.description-destination {
  max-width: 445px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-destination {
  width: 100%;
  font-family: "Barlow Condensed";
  font-size: 32px;
  letter-spacing: 2px;
}

.hero-destination span {
  opacity: 0.5;
  font-weight: 500;
}

.destination-info {
  display: flex;
  gap: 100px;
}

.description-planets {
  gap: 32px;
  display: flex;
}

.planetButtons {
  all: unset;
  cursor: pointer;
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
  position: relative;
  z-index: 1;
}

.planetButtons::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Placera linjen direkt under texten */
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1); /* Färg och transparens */
  transform: scaleX(0); /* Dölj linjen initialt */
  transform-origin: left;
  transition: transform 0.3s ease; /* Mjuk animation */
}

.planetButtons:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(1);
}

.planetButtons:focus::after {
  transform: scaleX(1); /* Visa linjen vid hover eller fokus */
  background-color: rgba(255, 255, 255, 1); /* Ändra färg vid fokus/hover */
}

.planets-name span {
  font-size: 100px;
  text-transform: uppercase;
}

.description-text span {
  font-size: 18px;
  line-height: 180%;
  opacity: 0.8;
  font-weight: 100;
  font-family: "Barlow";
}

.hr-line {
  opacity: 0.8;
}

.distanceAndTravelTime {
  display: flex;
  align-items: center;
  justify-content: center;
}

.distance {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.distanceSpan {
  font-size: 14px;
  font-family: "Barlow Condensed";
  opacity: 0.7;
  letter-spacing: 2px;
}

.distanceData {
  font-size: 28px;
  font-family: "Bellefair";
  text-transform: uppercase;
}

.travelTime {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.travelTimeSpan {
  font-size: 14px;
  font-family: "Barlow Condensed";
  opacity: 0.7;
  letter-spacing: 2px;
}

.travelTimeData {
  font-size: 28px;
  font-family: "Bellefair";
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .destination {
    gap: 20px;
    justify-content: center;
  }
  .hero-destination {
    font-size: 20px;
  }

  .destination-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img-destination img {
    width: 200px;
    height: 200px;
  }
  .description-destination {
    align-items: center;
    gap: 10px;
  }
  .planets-name span {
    font-size: 60px;
  }
  .description-text span {
    font-size: 16px;
  }

  .hr-line {
    width: 100%;
  }
  .distanceAndTravelTime {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
}

@media (max-width: 458px) {
  .destination {
    padding: 0 40px;
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    justify-content: flex-end;
    text-align: center;
  }
  .destination-info {
    padding-bottom: 40px;
  }
}
