.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 126px); /* 100vh minus navbarens höjd */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 0 64px;
}

.heroText {
  max-width: 420px;
}

.heroText h3 {
  font-weight: lighter;
  margin: 0;
  font-size: 28px;
  letter-spacing: 4px;
  font-family: "Barlow Condensed";
}

.heroText h1 {
  font-size: 144px;
  font-weight: normal;
  margin: 0;
}

.heroText p {
  font-size: 18px;
  line-height: 180%;
  font-family: "Barlow";
  color: #d0d6f9;
}

.exploreButton {
  width: 272px;
  height: 272px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  font-family: "Bellefair", "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

.exploreButton:hover {
  box-shadow: 0 0px 100px 0 rgba(255, 255, 255, 0.5),
    0 0px 100px 0 rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
  .homePage {
    height: auto;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }

  .heroText {
    text-align: center;
  }

  .exploreButton {
    width: 272px;
    height: 272px;
  }
}

@media (max-width: 768px) {
  .heroText h3 {
    font-size: 16px;
  }

  .heroText h1 {
    font-size: 80px;
  }

  .heroText p {
    font-size: 15px;
  }
  .exploreButton {
    width: 144px;
    height: 144px;
    font-size: 18px;
  }
  .heroText {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hero {
    gap: 20px;
    padding: 20px 20px;
  }
}
