.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 1000;
}

.navbar-links {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 50%;
  justify-content: center;
  gap: 48px;
  padding: 0 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1000;
  background-color: rgba(35, 39, 63, 0.1);
  backdrop-filter: blur(10px);
  position: relative;
  letter-spacing: 2px;
  margin-left: 20px;
  font-family: "Barlow Condensed";
}

.navbar-links.active {
  z-index: 1000;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-weight: 100;
}

.nav-link span {
  font-weight: bold;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
  background-color: rgba(255, 255, 255, 1);
}

.img-logo {
  padding-left: 64px;
}

.overlay {
  display: none;
  padding-right: 64px;
}

.closeHamburgerMenu {
  display: none;
}

/* Overlay */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 50; /* Högre än allt under, lägre än navbar-links */
}

@media (max-width: 1024px) {
  .navbar {
    top: 0px;
  }
}

/* Anpassningar för mobilen */
@media (max-width: 768px) {
  .nav-link::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }

  .navbar {
    align-items: none;
  }

  .navbar-links {
    display: none;
    position: absolute;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 50%;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .navbar-links.active {
    display: flex;
    align-items: flex-start;
    top: 0;
    position: fixed;
    justify-content: flex-start;
    padding-top: 74px;
    margin: 0;
    z-index: 1000;
  }

  .links {
    margin-top: 100px;
  }

  .overlay {
    display: flex;
  }

  .closeHamburgerMenu {
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 64px;
  }

  /* Overlay */
  .navbar-overlay {
    display: block;
  }
}

@media (max-width: 458px) {
  .navbar {
    top: 0;
  }

  .img-logo {
    padding-left: 40px;
  }

  .overlay {
    padding-right: 40px;
  }
}
