.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  position: fixed;
  width: 100%;
  top: 40px;
}

.navbar-links {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 50%;
  justify-content: center;
  gap: 48px;
  padding: 0 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: relative;
  letter-spacing: 2px;
  margin-left: 20px;
  font-size: smaller;
}

.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px; /* Placera linjen under texten */
  width: 100%;
  height: 2px; /* Tjockleken på linjen */
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0); /* Dölj linjen initialt */
  transform-origin: left;
  transition: transform 0.3s ease; /* Mjuk animation */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Visa linjen vid hover */
}

.nav-link:focus::after {
  transform: scaleX(1); /* Visa linjen vid fokus */
  background-color: rgba(255, 255, 255, 1);
}

.img-logo {
  padding-left: 64px;
}

.overlay {
  display: none;
  padding-right: 64px;
}

.closeHamburgerMenu {
  display: none;
}

@media (max-width: 1120px) {
  hr {
    display: none; /* Justera positionen för mindre skärmar */
  }
}

@media (max-width: 768px) {
  .nav-link::after {
    content: "";
    position: absolute;
    left: -10px; /* Justera avståndet från texten */
    top: 0; /* Placera linjen vid toppen av texten */
    width: 2px; /* Bredden på linjen (vertikal) */
    height: 100%; /* Höjden på linjen */
    transform: scaleY(0); /* Dölj linjen initialt */
    transform-origin: top; /* Börja animationen från toppen */
    transition: transform 0.3s ease; /* Mjuk animation */
  }

  .navbar {
    align-items: none;
  }

  .navbar-links {
    display: none;
    position: absolute;
    right: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50%;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .navbar-links.active {
    display: flex;
    align-items: flex-start;
    top: 0;
    position: fixed;
    justify-content: flex-start;
    padding-top: 74px;
    margin: 0;
  }

  .links {
    margin-top: 100px;
  }

  .overlay {
    display: flex;
  }

  .closeHamburgerMenu {
    display: flex;
    position: absolute;
    right: 0px;
    padding-right: 64px;
  }
}
